
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.container {
  display: flex;
  height: auto;
  width: auto;
}


.sidebar {
  width: 80px;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.main-content {

  flex: 1;
  background-color: #181818;
  color: white;
  padding: 20px;
}
.header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 20px; 
  
}

.search-bar {
  display: flex;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  padding: 10px;
  border: none;
  border-radius: 25px;
  width: 350px;
  margin: 0 auto; 
}


.banner {
  margin: 20px 0;
  text-align: left;
}

.banner h1 {
  font-size: 48px;
}

.banner p {
  font-size: 18px;
}


.shows-list {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 5px 5px 5px;
  gap: 6px;
}

.show-card {
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  position: relative;
}

.card-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.show-card img {
  width: 100%;
  border-radius: 10px;
}

.show-card h3 {
  font-size: 16px;
  margin: 10px 0;
}

.show-card p {
  font-size: 12px;
  color: #bbb;
}


.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.dropdown {
  margin: 5px;
  position: relative;
}

.select {
  justify-content: space-between;
  background: #333;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 15px;  
  padding: 10px; 
  cursor: pointer;
  width: 200px; 
  height: 40px; 
}

 
.caret {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
  margin-left: 5px;
}

.menu-genre {
  list-style: none;
  padding: 0.5em 0.5em;
  background: #333;  
  color: white;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  z-index: 2;
  border-radius: 15px;
  scrollbar-width: none;
  overflow-y: auto;
  max-height: 200px;
  visibility: hidden;
  pointer-events: none
}

.menu-genre-open {
  opacity: 1;
  visibility: visible; 
  pointer-events: auto;
 }
.menu-genre li {
  padding: 0.7em 0.5em;
  cursor: pointer;
  margin: 2% 0; 
  border-radius: 15px;
}

.menu-genre li:hover {
  background-color: #23242a;
}

.active {
  background: #23242a;
}

.menu-country {
  list-style: none;
  padding: 0.5em 0.5em;
  background: #333;  
  color: white;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  z-index: 2;
  border-radius: 15px;
  scrollbar-width: none;
  overflow-y: auto;
  max-height: 200px;
  visibility: hidden;
  pointer-events: none
}

.menu-country-open {
  opacity: 1;
  visibility: visible; 
  pointer-events: auto;
 }
.menu-country li {
  padding: 0.7em 0.5em;
  cursor: pointer;
  margin: 2% 0; 
  border-radius: 15px;
}

.menu-country li:hover {
  background-color: #23242a;
}

.menu-type {
  list-style: none;
  padding: 0.5em 0.5em;
  background: #333;  
  color: white;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  z-index: 2;
  border-radius: 15px;
  scrollbar-width: none;
  overflow-y: auto;
  max-height: 200px;
  visibility: hidden;
  pointer-events: none
}

.menu-type-open {
  opacity: 1;
  visibility: visible; 
  pointer-events: auto;
 }
.menu-type li {
  padding: 0.7em 0.5em;
  cursor: pointer;
  margin: 2% 0; 
  border-radius: 15px;
}

.menu-type li:hover {
  background-color: #23242a;
}
footer {
  display: flex ;
  background: #181818 ;
  align-items: center;
  color: #ffffff;
  justify-content: center
}