body{
    background: rgb(35, 31, 31);
    max-width: 1920px;
}


.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header__container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 315px;
}

.header__img{
    display: flex;
    width: 158px;
    height: 102px;
}

.header__container-subscribe{
    display: flex;
    justify-content: flex-end;
    width: 75%
}

.header__link-subscribe{
    display: flex;
    margin-right: 20px;
}

.header__container-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 75%;
}

.header__link-list-item{
    display: inline;
    margin-right: 10px;
    list-style-type: none;
}

.header__link-list-item-link{
    text-decoration: none;
}

.container__form{
    display: flex;
    justify-content: flex-end;
}

.container__slider{
    display: flex;
    flex-wrap: wrap;
    margin-left: 315px;
    background: rgb(10, 10, 10);
    width: 75%;
}

.slider__list{
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px;
}

.slider__list-item{
    list-style-type: none;
}

.slider__list-item-img{
    float: left;
}

.rectangle__travels{
    display: flex;
    justify-content: center;
    background-color: rgb(69, 62, 62);
    padding: 20px;
    text-align: center;
    border-radius: 3px;
    width: 145px;
    height: 20px;
}

.slider__list-item-link{
    text-decoration: none;
}

.slider__list-item-link:hover{
    text-decoration: underline;
}

.slider__list-item-caption-title{
    padding-left: 650px;
    
}

.slider__list-item-caption{
    padding-left: 650px;
    padding-right: 10px;
    text-align: justify;
}

.slider__list-item-read{
    margin-left: 15px;
}

.pag{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pag__img{
    margin-top: 10px;
}

.container__last-stories{
    display: flex;
    flex-wrap: wrap;
    margin-left: 715px;
    width: 75%;
}
/* background: rgb(10, 10, 10); */
.last-stories__read-more{
    display: flex;
    justify-content: flex-end;
}

.last-stories__list{
    list-style-type: none;
}

.last-stories__list-main-item{
    display: flex;
    flex-direction: column;
}

.last-stories__list-item-main-img{
    display: flex;
    justify-content: flex-start;
    width: 630px;
    height: 285px;
}

.container__last-stories-caption{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    background: rgb(10, 10, 10);
    width: 630px;
    height: 285px;
}

.last-stories__list-item-main-caption-title{
    display: flex;
}

.last-stories__list-item-main-link{
    display: flex;
    text-decoration: none;
}

.last-stories__list-item-main-link:hover{
    text-decoration: underline;
}

.last-stories__list-item-main-button{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-left: auto;
    width: 40px;
    background-color: green;
}

.last-stories__list-item-img{
    display: flex;
    width: 300px;
    height: 136px;
}

.container__Tv-show{
    margin-left: 315px;
    width: 75%;
}

.Tv-show__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    list-style: none;
}

.Tv-show__items{
    margin-right: 5px;    
}

.Tv-show__list-item-img{
    max-width: 100%;
    height: auto;
}

.unique-link{
    display: flex;
    justify-content: flex-end;
}

.container__podcasts{
    margin-left: 315px;
}

.podcasts__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 75%;
    padding: 0px;
    list-style: none;
}

.podcasts__item{
    padding: 20px;
}

.button-like, .button-comm, .link-headphones{
    background-color: green; 
    color: black;        
    border: none;          
    padding: 10px 20px;  
    text-align: center;     
    text-decoration: none; 
    display: inline-block;        
    cursor: pointer;        
    border-radius: 5px;
}

.container__Info{
    margin-left: 515px;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Info{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.Info__caption-title{
    display: flex;
    width: 633px;
}

.Info__caption{
    width: 633px;
}

.Info__img{
    margin-left: 70px;
    display: flex;
    max-width: 522px;
    height: auto;
}

.container__buttons{
    display: flex;
    justify-content: flex-start;
}

.Info__download-link{
    flex-wrap: wrap;
    width: 100px;
    background-color: green; 
    color: black;        
    border: none;          
    padding: 10px 20px;  
    text-align: center;     
    text-decoration: none; 
    display: inline-block;        
    cursor: pointer;        
    border-radius: 5px;
    margin-right: 350px;
}

.container__footer{
    margin-left: 315px;
    display: flex;
}

.footer__list, .footer__list-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    list-style: none;
}

.footer__list-links-item-link, .footer__list-item-link{
    text-decoration: none;
    color: white;
}