{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ item.title }}</title>
  <link rel="stylesheet" href="{% static 'css/styles_detail_film.css' %}">
</head>
<body>
  <div class="navbar">
    <div class="navbar-container">
        <form id="filter-form" action="{% url 'search' %}" method="get">
            <input name="q" type="text" placeholder="Search" class="search-bar" value="{{ request.GET.q }}" autocomplete="off">
        </form>
        <div class="header-links">
            {% if request.user.is_authenticated %}
                <p>{{ request.user }}</p>
                <a href="{% url 'Users:logout-main' %}" class="header_logout">Выйти</a> 
            {% else %}
                <a href="{% url 'Users:login-main' %}" class="header_login">Войти</a>
                <a href="{% url 'Users:register' %}" class="header_register">Регистрация</a>
            {% endif %}
        </div>
    </div>
    <div id="searchResults" class="navbar-movie-list results" style="display: none;">
        <ul class="movie-list">
            <li class='movie'><p>Фильмы и сериалы</p></li>
        </ul>
    </div>
</div>

    <div class="navbar-left"> 
        <a href="{% url 'home' %}"><img src="{% static 'img/home.svg' %}" class="navbar-left-img"></a>
        <a href = "{% url 'films-watch' %}"><img src="{% static 'img/clock.svg' %}" class="navbar-left-img"></a>
    </div>
</div>
  <div class='container'>
    <div class="poster">
      <script> console.log("{{ item.image_url.url }}", "{{item.image_url}}")</script>

      <img src="{{ item.image_large.url }}" alt="{{ item.title }} poster"> 
    </div> 
    <div class="content">

      <h1>{{ item.title }}</h1>
      <p>{{ item.short_description }}</p>
      <div class="info-detail">
        <h2>О фильме</h2>
        <table>
          <tr>
            <td>Год производства</td>
            <td>{{ item.years }}</td>
          </tr>
          <tr>
            <td>Страна</td>
            <td>{% for country in item.country.all %}{{ country.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          </tr> 
          <tr>
            <td>Жанр</td>
            <td>{% for genre in item.genres.all %}{{ genre.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          </tr> 
          <tr>
            <td >Бюджет фильма</td>
            <td class = 'number_money'>{{ item.budget|default_if_none:'неизвестно' }}  </td>
          </tr>
          <tr>
            <td>Сборы в мире</td>
            <td class = 'number_money'>{{ item.fees|default_if_none:'неизвестно' }}</td>
            <script>
              document.addEventListener('DOMContentLoaded', function () {
                let moneyElements = document.querySelectorAll('.number_money');
      
                moneyElements.forEach(function (element) {
                  let valueText = element.textContent.trim();
                  let value = parseInt(valueText);
            
                  if (!isNaN(value)) {
                    let formatted = value.toLocaleString("en-US", {
                      style: 'currency', currency: "USD", minimumFractionDigits: 0
                    });
                    element.textContent = formatted;
                  } else {
                    console.log("Value is not a number:", valueText);
                  }
                });
              });
            </script>
          </tr>
          <tr>
            <td>Продолжительность фильма</td>
            <td>{{ item.duration }} мин</td>
          </tr>
        </table>
      </div>
      <div class="kinobox_player"></div>
      <div><a href="{% url 'watch_later' item.kinopoisk_id %}"> {{watch}}</a>  </div>
      <div class='container-comments'>
        <form action='{% url "add_comment" item.kinopoisk_id %}' method='POST', id='rating-form'>
          {% csrf_token %}
          <p>Рейтинг:</p>
          <div class="rating-stars">
            <input type="radio" id="star5" name="grade" value="5"><label for="star5">&#9733;</label>
            <input type="radio" id="star4" name="grade" value="4"><label for="star4">&#9733;</label>
            <input type="radio" id="star3" name="grade" value="3"><label for="star3">&#9733;</label>
            <input type="radio" id="star2" name="grade" value="2"><label for="star2">&#9733;</label>
            <input type="radio" id="star1" name="grade" value="1"><label for="star1">&#9733;</label>
        </div>
        <br>
        <p>Комментарий:</p>
        <textarea id='comment' name='body' rows='4' cols='50'
                  required placeholder='Напишите свой комментарий' class="comment-text"></textarea>
        <button type='sumbit'>Отправить</button>
        </form>
      </div>
      <div> 
        {% for comment in comments %}
        <p> {{comment.user}} написал:{{comment.body}} , {{comment.grade}}  ЗВЁЗД</p>
        {% if comment.user == request.user %}
        <a href="{% url 'remove_comment' item.kinopoisk_id comment.pk %}">Удалить</a>
    {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  <script src="https://kinobox.tv/kinobox.min.js"></script>
  <script>
    kbox('.kinobox_player', {
      search: {
        kinopoisk: "{{ item.kinopoisk_id }}"
      }
    });
  </script>
</body>
</html>
