{% load static %}
<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Смотреть позже</title>
  <link rel="stylesheet" href="{% static 'css/styles_index.css' %}">
</head>
<body>
  <div class="navbar">
    <div class="navbar-container">
        <form id="filter-form" action="{% url 'search' %}" method="get">
            <input name="q" type="text" placeholder="Search" class="search-bar" value="{{ request.GET.q }}" autocomplete="off">
        </form>
        <div class="header-links">
            {% if request.user.is_authenticated %}
                <p>{{ request.user }}</p>
                <a href="{% url 'logout-main' %}" class="header_logout">Выйти</a> 
            {% else %}
                <a href="{% url 'login-main' %}" class="header_login">Войти</a>
                <a href="{% url 'register' %}" class="header_register">Регистрация</a>
            {% endif %}
        </div>
    </div>
    <div id="searchResults" class="navbar-movie-list results" style="display: none;">
        <ul class="movie-list">
            <li class='movie'><p>Фильмы и сериалы</p></li>
        </ul>
    </div>
</div>

    <div class="navbar-left"> 
        <a href="{% url 'home' %}"><img src="{% static 'img/home.svg' %}" class="navbar-left-img"></a>
        <a href = "{% url 'films-watch' %}"><img src="{% static 'img/clock.svg' %}" class="navbar-left-img"></a>
    </div>
</div>
  <div class="container">    
    <div class="main-content">
      <section class="banner">
        <h1>TV Shows</h1>
        <p>Watch past seasons of exclusive shows...</p>
      </section>
  
      <section class="shows-list">
        {% for item in items %}
        <div class="show-card">
          <a href="{% url 'film' item.kinopoisk_id %}" class='card-link'></a>  
          <img src="{{ item.image_thumbnail.url }}" alt="{{ item.title }}">
          <h3>{{ item.title }}</h3>
          <p>{{ item.years }}</p>
        </div>
        {% endfor %}
      </section>
      
    </div>
  </div>
</body>
<footer >
  Какая-то информация об авторском праве или может информация об авторе статьи?
</footer>
</html>
