@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Open Sans"),
         /* Если не получилось, загрузит woff2 */
         url("../fonts/OpenSans-Regular.woff2") format("woff2"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("../fonts/OpenSans-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Open Sans"),
         /* Если не получилось, загрузит woff2 */
         url("../fonts/OpenSans-Bold.woff2") format("woff2"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("../fonts/OpenSans-Bold.woff") format("woff");
  }
